name: Build and Upload to Release

on:
  release:
    types: [published]

jobs:
  release-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 允许上传文件到 Release
      packages: read   # 允许读取 GitHub Packages 依赖

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 20
        uses: actions/setup-java@v4
        with:
          java-version: '20'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run shadowJar
        run: ./gradlew shadowJar
        env:
          USERNAME: ${{ github.actor }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Assets to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/libs/*.jar
            !build/libs/*-plain.jar
            !build/libs/*-source.jar